<div class="header inner-container">
    <div class="logo-div">
      <a href="#">
        <img
          class="logo"
          src="assets/images/logo.png"
          alt="Summer Exploring Logo"
        />
      </a>
    </div>
    <div class="nav-search">  
        <a href="#">
            <img
              class="logo"
              src="assets/images/user-profile.jpg"
              alt="Summer Exploring Logo"
            />
          </a>
          <button type="button" class="detailsBtn">&#8594;&#124; Logout</button>
    </div>
  </div>
