<div class="four">
    <div class="inner-container">
        <div class="section-eight d-flex justify-spcbtw">
        
        <div class="contact-us d-grid" style="max-width:500px;">
            <p class="title-eight">Title Here</p>
            <p class="text-contact">Lorem ipsum dolor sit amet,consectetur
                adipiscing elit.Aliquam at dignissim nunc, id maximus ex.
                Etiam nec dignissim elit, at dignissim enim.
            </p>
            <div class="social-logo d-flex">
                <a href=""><img src="assets/images/Instagram1.png"></a>
                <a href=""><img src="assets/images/Facebook.png"></a>
                <a href=""><img src="assets/images/Twitter.png"></a>
                <a href=""><img src="assets/images/WhatsApp.png"></a>
            </div>
        </div>
    
        <div class="three-cols d-flex">
        <div class="footer-3-cols">
            <p class="title-eight">About</p>
            <ul>
                <li class="text-contact list-footer"><a href="" class="link">History</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Our Team</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Brand Guidelines</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Terms&Condition</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Privacy Policy</a></li>
            </ul>                           
        </div>
        <div class="footer-3-cols">
            <p class="title-eight">Services</p>
            <ul>
                <li class="text-contact list-footer"><a href="" class="link">How to Order</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Our Product</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Order Status</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Promo</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Payment Method</a></li>
            </ul>
        </div>
        <div class="footer-3-cols">
            <p class="title-eight">Other</p>
            <ul>
                <li class="text-contact list-footer"><a href="" class="link">Contact Us</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Help</a></li>
                <li class="text-contact list-footer"><a href="" class="link">Privacy</a></li>
            </ul>
        </div>
      </div>
        </div>
    </div>
    
