.validation{
    color:#8a5358;
    display: flex;
    justify-content: flex-end;
    position:absolute;
   }
   .showMsg{
    color: #692020;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
   }