<div class="section1-container">
    <div class="inner-container d-flex align-center h-100">
        <div>
            <h1 class="first-heading text-upper">It's time for hiking</h1>
            <h2 class="subtitle text-upper">Loremipsum dolor</h2>
            <button class="first-button border-none text-upper">Read more</button>
            <p class="body-text">Lorem ipsum dolor sit amet ,consectetuer adipiscing elit,sed do iusmod tempor incididunt ut labore et dolore magna
                 </p>
        </div>

    </div>

</div>
