<div class="grid--2-col d-grid">
    <div class="img-box" role="img" alt="People enjoying holiday" >
        <img src="">
    </div> 
<div class="content-grid d-flex">
    <h1 class="title-content">
        Discount up to 50% All Excursions
    </h1>
    <p class="body-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
    </p>
    <button class="third-button text-upper border-none">Read more</button>
</div>
</div>
<div class="grid--2-col d-grid"> 
<div class="content-grid second">
    <h1 class="title-content">
       January's Promo: Buy 1 Get 1 Free!
    </h1>
    <p class="body-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
    </p>
    <button class="third-button more border-none text-upper">Read more</button>
</div>
<div class="img-box-1" role="img" alt="People enjoying holiday">
    <img src="" >
    </div> 
</div>

