<!-- <div class="sidebar">
    <a class="active" href="#">Tours</a>
    <a href="#">Contacts</a>
    <a href="#">Subscriptions</a>
  </div> -->
  <div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
      <ul>
        <li>
            <!-- <a href="#"> -->
                <span class="icon"><i class="fas fa-home"></i></span>
                <p class="my-item">My Dashboard</p>
            <!-- </a> -->
        </li>
        <li>
            <a href="#" class="active">
                <span class="icon"><i class="fas fa-desktop"></i></span>
                <span class="item">Tours</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Contacts</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="item">Subscriptions</span>
            </a>
        </li>
        
    </ul>
</div>

       <!--profile image & text-->
        <!--menu item-->
    </div>

  