.detailsBtn{
    padding:8px;
    border-radius: 7%;
    cursor: pointer;
    border:#fdf2e9;
    color: #54524f;
    background-color: rgb(84 82 79 / 13%);
    margin:8px;
    text-decoration: none;
}