<div class="inner-container section-six ">
    <div class="full-six d-flex">
   
        <div class="grid--3-cols">
            <h2 class="title-sec6">lorem ipsum</h2>
            <p class="text-sec6">
                Lorem ipsum dolor sit amet,consecte sectetur adipiscing,
                elit,tation omne ullamco laboris nisi ut aliqolore.
            </p>
        </div>
        <div class="grid--3-cols">
            <h2 class="title-sec6">Lorem ipsum</h2>
            <p class="text-sec6">
                Lorem ipsum dolor sit amet,consecte sectetur adipiscing,
                elit,tation omne ullamco laboris nisi ut aliqolore.
            </p>
        </div>
        <div class="grid--3-cols">
            <h2 class="title-sec6">Lorem ipsum</h2>
            <p class="text-sec6">
                Lorem ipsum dolor sit amet,consecte sectetur adipiscing,
                elit,tation omne ullamco laboris nisi ut aliqolore.
            </p>
        </div>
      
    </div>
    <div class="d-flex align-center justify-center">
        <div class="part-2-sec6">
            <h1 class="citation text-center">"</h1>
            <p class ="text-part-2 text-center">Lorem ipsum dolor sit amet,consectetur adipiscing elit,
                sed do eiusmod tempor incidunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam,quis.
            </p>
            <p class="author text-center">Lorem Ipsum</p>
        </div>
    </div>

</div>
