.otherData{
    font-size:14px;
    color:#c6c1be;
}
.button{
    display:flex;
    justify-content: center;
   
}
.detailsBtn{
    padding:8px;
    border-radius: 7%;
    cursor: pointer;
    border:#fdf2e9;
    color: #54524f;
    background-color: #ffffff;
    margin:8px;
}
card-img{
    display:flex;
}